{{ partial "header.html" . }}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
<div class="container">

  <div class="row">

    <div class="col-lg-8 col-centered pub" itemscope itemtype="http://schema.org/CreativeWork">


      <div class="container pub-title">
        <h1 itemprop="name">{{ .Title }}</h1>
      </div>


      {{ .Content }}
    </div>


  </div>
</div>

{{ partial "footer.html" . }}