
.profile {
   text-align: center
}

.btn-group {
  font-size: 8pt;

}

.btn-group {
  font-weight: 300;
}


#profile-pic {
  margin-bottom: 10px
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Neuton", Georgia, "Times New Roman", serif;
}

p.card-text {
  font-weight: 300;
}

/* .navbar-dark .navbar-nav .nav-link:hover {
  text-decoration: underline

} */

h1, h2, h3, h4, h5, h6 {
  font-family: "Neuton", Georgia, "Times New Roman", serif;
}


p,span, div {
font-family: 'Open Sans', sans-serif;

}


h4.heading {
  padding-top: 10px;
  border-bottom: 1px solid rgb(173, 172, 172);
}

.pub p {
  text-align: justify;
}
.pub {
  margin: 50px auto;
  padding: 50px 0;
}

.pub-title, .pub-authors, .pub-conf, .pub-date, .pub-label, .pub-links {
  text-align: center
}

main {
  margin-top: 20px
}




.pub-item .card {
  border: 0px;
}

.pub-item .card {
  border-top: 2px solid rgba(0,0,0,.125);
  padding: 5px 0px;
}

.card-body {
  padding: 10px 20px;
}

/* .widget {
  padding: 0px 20px;
} */

.publication-container {
    margin-top: 50px;
}

.pub {
  margin: 50px 0px;
  padding: 0px 10px;
}

.tag {
  text-transform: uppercase;
  font-size: 8pt;
  background-color: #ecffff;
  /* border-left: 1px solid rgb(173, 202, 232); */
  padding: 5px 5px;
  margin-right: 10px;
}

.tag-date {
  margin-top: 10px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

strong, b {
  font-weight: 600;
  color: #716f6f
}

.worksfor {
    display: block;
    border-bottom: 1px lightgray solid;
    padding: 5px 0px;
}

ul ul {
    padding-bottom: 10px;
      list-style-position: outside;
      /* margin-left: 0px; */
     /* padding-left: 5px; */
}
 ul li, ul ol {
     list-style-position: outside;
     /* margin-left: 0px; */
     /* padding-left: 5px; */
 }

li {
  line-height: 30px;
}

li p {
  margin-bottom: 10px;
}

h1, h2 {
  padding-bottom: 10px;
}

.navbar ul.navbar-nav {
  margin-right: 10px;
}

.navbar a.btn {

  background-color: #9cc3ec
}

.navbar a.btn  {
  color: black
}
section {
    padding: 15px 0px 0px 0px;
}


.btn-group a, .pub-links a {
  background-color: white;
  border-color: #007bff;
}

.btn-group a:hover, .pub-links a:hover {
  color: white;
}

a.btn:hover  {
  color: white;
}

.pub-item .card-text {
  font-weight: 400;
  font-style: italic
}

@media (max-width: 576px) {


.card-body {
  padding: 10px;
}

#publications .container {
    margin: 0;
    padding: 0;
}
#publications h2 {
  padding-left: 15px;
}


ul ul {
    padding-bottom: 20px;
      list-style-position: outside;
      /* margin-left: 0px; */
     padding-left: 5px;
}
 ul li, ul ol {
     list-style-position: outside;
     /* margin-left: 0px; */
     padding-left: 5px;
 }

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .25rem;
    font-size: .7rem;
    line-height: 1.5;
    border-radius: .2rem;
}

ul,ol {
  padding-left: 20px;
}
}

ul ul, ul ol, ol ul, ol ol {
  border-left: 1px solid rgba(238, 236, 236, 0.8);
  margin-left: 5px;
}




.nav-item:hover a {
  border-bottom: 2px gray solid;
}

.nav-item a {
  border-bottom: 2px #343a40 solid;
}
.nav-item .active {
  border-bottom: 2px white solid;

}

body {
  padding-top: 40px;
}

ul.navbar-nav {
  border: 0;
}

.pub h2 {
  min-width: 100%;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px #cccccc solid;
}

a.btn.btn-default.tag.mb-3:hover {
  color: blue;
}

#teaching .card, #group .card {
    width: 350px;
    float: left;
    margin: 5px;

}

.card {
  background: linear-gradient(to bottom, #f9f9f9, white);
}

.card:hover {
  background: linear-gradient(to bottom,#ceffff, white);
  border-top: 2px solid rgb(0 123 249);
}

.portrait-title h2 {
    padding: 0px;
}

main {
  margin-top: 30px;;
}

.article-style li {
  padding-bottom: 5px;
}

.article-style {
  margin-top: 10px;
}

.worksfor {
    border-bottom: unset;
    padding: 10px 0px;
    font-size: 1.1em;
  }
  
  .profile {
    text-align: right;
    padding-right: 30px;
    margin-bottom: 20px;
    border-right: 1px gainsboro solid;
  }
  
  .col-lg-9 {
    padding-left: 30px;
  }

  #about a img {
    padding: 5px;
    border: 2px transparent solid;
    opacity: 0.4;
  }

  
  #about a img:hover {
    opacity: 1.0;

  }

  @media (min-width: 1400px) {
  aside {
    position: fixed;
    top: 64px;
    right: 0px;
    margin: 0px 20px;
    padding: 10px;
    max-width: 500px;
    max-height: 100%;
    overflow-y: scroll;
}
}

aside ul ul, aside ul ol, aside ol ul, aside ol ol {
margin-left: -15px;
}

html, body {
    scroll-padding-top: 100px;
}

#teaching .card {
  height: 300px;
}

.pub h2 {
  font-variant: small-caps;
}