{{ $ := .root }}
{{ $page := .page }}

<div class="col-lg-3 profile">
  <img id='profile-pic' class="rounded-circle" src="{{ $page.Params.profile_pic }}" alt="Generic placeholder image"
    width="150" height="150">
  <div class="portrait-title">
    <h2 itemprop="name">{{ $page.Params.name }}</h2>
    <span class="worksfor" itemprop="jobTitle">{{ $page.Params.jobtitle }}</span>
    {{ range $page.Params.works_for }}
    <span class="worksfor" itemprop="worksFor" itemscope="" itemtype="http://schema.org/Organization">
      <a href="{{.URL}}" target="_blank" itemprop="url" rel="noopener">
        <span itemprop="name">{{.Org}}</span>
      </a>
    </span>
    {{ end }}

  </div>
</div>

<div class="col-lg-9">
  <div style="margin-top: 1em; line-height: 2em; font-size: 1.35em;">
    {{ $page.Content }}
  </div>
<!--   
  <div class="row">

    {{ with $page.Params.interests }}
    <div class="col-sm-5">
      <h4>Interests</h4>
      <ul class="ul-interests">
        {{ range .interests }}
        <li>
          <p>{{ . | markdownify }}</p>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}

    {{ with $page.Params.education }}
    <div class="col-sm-7">
      <h4>Education</h4>
      <ul class="ul-edu fa-ul">
        {{ range .courses }}
        <li>

          <div class="description">
            <p class="course">{{ .course }}{{ with .year }}, {{ . }}{{ end }}<br />
              {{ .institution }}</p>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}

  </div> -->

</div>