{{ $ := .root }}
{{ $page := .page }}

<div class="col-lg-12 mx-auto">

    <div class="row">
        <div class="col-lg-6">
            <h2>Group</h2>
        </div>
        <div class="col-lg-6" style="text-align: right">
            <a class="btn btn-outline-primary" href="/students">Past Students</a>
        </div>

    </div>

    {{ $.Scratch.Set "students" (where $.Site.RegularPages "Type" "students") }}
    {{ $students := $.Scratch.Get "students" }}

    {{ range $students }}



    <div class="row-lg-12 pub-item">
        <div class="card flex-md-row h-md-250">
            <div class="card-body">


                <small class="text-muted">{{.Date.Format "Jan, 2006" }} {{ if .Params.publication_short }} |
                    {{ .Params.publication_short }} {{ end }}</small>
                <h4 class="mb-2">
                    <a>{{.Params.name}}</a>
                </h4>

                <p>{{ .Params.program }}</p>

                <div class="tag-date">

                    {{ range .Params.projects }}
                    {{ $tagURL := printf "projects/%s" . }}
                    {{ with $.Site.GetPage $tagURL }}

                    <span class="d-inline-block  text-dark tag "> <a href="{{ $tagURL }}">{{ .Title }}</a></span>
                    {{ end }}
                    {{ end }}
                </div>

            </div>
            {{ if .Params.image_preview }}

            <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb"
                alt="Thumbnail [200x250]" style="width: 100px; height: 150px;" src="{{ .Params.image_preview }}"
                data-holder-rendered="true">
            {{ end }}

        </div>

        <div id="{{.File.BaseFileName }}" class="modal fade" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                    </div>
                    <div class="modal-body">
                        {{ .Params.bibtex }}
                    </div>

                </div>
            </div>
        </div>
    </div>

    {{ end }}

</div>