{{ partial "header.html" . }}
	<main>

{{ range $i, $page := where $.Site.Pages.ByWeight "Section" "home"}}
  {{ $params := dict "root" $ "page" $page }}
  {{ $widget := printf "widgets/%s.html" $page.File.BaseFileName }}
  {{with $page.File }}
<section id="{{ .BaseFileName }}" class="{{ if (modBool $i 2) }} bg-light {{ end }}">
  <div class="container">
    <div class="row">
          {{ partial $widget $params }}
    </div>
  </div>
</section>
{{ end }}

{{ end }}


{{ partial "footer.html" . }}